## Public test environment (No confidential or sensitive data required).

### Environment Base URLs

BASE_URL=https://practicesoftwaretesting.com
BASE_API_URL=https://api.practicesoftwaretesting.com

### Dynamic User Registration Count. The `REGISTERED_USERS_COUNT` variable dictates the total number of template accounts loaded into `process.env`. Total number of template user accounts (Must match USER_EMAIL_N entries below)

REGISTERED_USERS_COUNT=USER_N

### Dynamic User Credentials Pool

### NOTE: These values are overridden at runtime by globalSetup using generated credentials

USER_EMAIL_1=customer@practicesoftwaretesting.com
USER_PASSWORD_1=welcome01

USER_EMAIL_2=customer2@practicesoftwaretesting.com
USER_PASSWORD_2=welcome01

USER_EMAIL_3=customer3@practicesoftwaretesting.com
USER_PASSWORD_3=pass123
